<%= form_with model: @user, local: true do |f| %>
  <h3>プロフィール編集</h3>
  <div class="form" style="margin-bottom: 5px">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form" style="margin-bottom: 5px">
    <%= f.label :nackname, "ニックネーム" %><br>
    <%= f.text_field :nackname %>
  </div>
  <div class="form" style="margin-bottom: 5px">
    <%= f.label :introduction, "自己紹介" %><br>
    <%= f.text_field :introduction %>
  </div>
  <div>
    <%= f.submit "変更する" %>
  </div>
<% end %>
