

<div>
  <%= @user.name %><br>
</div>

<%= link_to "プロフィール編集", edit_user_path(current_user) %><br>

<%= link_to "予定投稿", new_schedule_path %><br>

<%= link_to "カレンダー", schedules_path %><br>

<%= link_to "マイカレンダー", schedule_path(current_user) %>
