<%= form_with model: @schedule, local: true do |f| %>
  <div class="form" style="margin-bottom: 5px">
    <%= f.label :title, "予定" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form" style="margin-bottom: 5px">
    <%= f.label :start_time, "開始時間" %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="form" style="margin-bottom: 5px">
    <%= f.label :body, "予定内容" %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit "送信する" %>
  </div>
<% end %>
